/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 margin: 0em 0em 1.5em;
}

/* ^ no touchy above */

/* >>> IMPORTANT: you have to change the wrap of the content of your 
home page (index) in a div with a class home-container to make it work.
 If you used a div with the class container on your home, you’ll 
 only need to change the name of the class. And you need a div with 
 the class container and all the other pages.  */


/* Typography */

header {
	display: grid;
	grid-template-columns: 12em 1fr;
	background: rgb(204 204 204);
	padding: 1em 1em 1.5em 0em;
	font-family: sans-serif;
	}

h1 {
	width: 13em;
	margin: 0em 0.75em 0em;
	
	}

h2, h3, h4 {
		font-weight:bold;
		font-family: sans-serif;
	}

h2 {
	font-size: 2em;
	margin: 1em 0em 0.5em;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1.5em 0em 0.5em;
}

h4.product {
	grid-row: 1/2;
}


a {
	text-decoration:none;
}

p {
	margin: 0em 0em 1em;
	font-family: sans-serif;
	line-height: 1.2em;
	}
	
p.description {
	grid-column: 1/3;
	grid-row: 2/3;
	margin: 0;
	}

p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(255 0 0);
	text-align: right;
	margin: 0em 0em 0em;
}

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0.25em 2em;
	line-height:1;
	color: rgb(255 255 255);	
}


/* Element Styling */


figure {
	margin-bottom: 2em;
}



body {
	font-family: sans-serif;
	background: rgb(226, 12, 12);
}

main { 
	padding: 1em 1.75em 4em;
	background: rgb(255, 255, 255);
	}

main.menu ul li {
		margin: 1em 0em 1em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
}	
	
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(255 255 0);
  font-family: sans-serif;
  font-size: 1em;
}

footer p {
	margin: 0;
}

address {
	color: rgb(255 136 0);
	font-family: serif;
	font-size: 1em;
	line-height:0.5em;
	padding: 0em 0em;
}

address p {
	line-height: 0.25em;
	padding: 0em 0em 0em;
}


ul li 	{
	list-style-type: none;
	font-family: sans-serif;
	line-height: 1.75em;
}

nav ul  {
	text-align: right;
}

nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5em;
}
	
nav ul li a {
	color: rgb(255 255 0);
	background-color: rgb(4 0 255);
	text-decoration-line: none;
	padding: 0.4em 0.4em 0.3em;
	}

nav ul li.selected a {
	background-color:rgb(255 136 0);
	color: rgb(255 255 255);
}


main.menu ul li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
}	

main.menu ul {
	display: grid;
	grid-template-columns: 1fr;
}	

@media screen and (min-width: 50em) {

	main { 
		margin: 0em 3em;
		}

	main.menu ul li {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 3em;
	}	

	nav ul li {
		float: right;
		justify-content: center;
		margin: 1.5em 0em 0em;
	}
	nav ul li a {
		display: inline;
		text-align: center;
		font-size: 1.4em;	
		margin: 0.5em;
		padding: 1em;
		text-decoration: none;
	}

	article {
		margin: 0em 19em 1em;
		background-color:aqua;
		font-family: sans-serif;
		line-height: 1.2em;
	}
}